@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

body {
  background-color: #5b2386;
  color: white;
  font-family: GmarketSansMedium;
}

button {
  padding: 10px 40px;
  font-size: 20px;
  font-family: GmarketSansBold;
  color: #5b2386;
  background-color: yellow;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* wrap title */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.title_img {
  position: absolute;
  width: 550px;
}

.title_img img {
  width: 100%;
}

/* wrap intro */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.intro_saying {
  font-family: OTEnjoystoriesBA;
  font-size: 36px;
  color: yellow;
  margin-bottom: 50px;
}

.intro_des {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.quotes {
  position: relative;
  padding-top: 20px;
}

.intro_des p {
  position: absolute;
  font-size: 17px;
  line-height: 1.7;
}

.bold_font {
  font-family: GmarketSansBold;
}

/* wrap input */
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.field,
.time {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 20px 0;
}

.input input {
  margin: 0 15px;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-family: GmarketSansMedium;
  width: 200px;
}

/* wrap start */
.start {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.start_btn {
  margin-right: 10px;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.footer_logo {
  margin-bottom: 20px;
}

footer p {
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
}

/* wrap result */
.result_loading {
  margin-bottom: 80px;
}

.img_wrap {
  width: 100px;
  height: 100px;
}

.img_wrap img {
  width: 100%;
  animation: loading_animation 1s linear infinite;
}

@keyframes loading_animation {
  100% {
    transform: rotate(360deg);
  }
}

.result {
  text-align: center;
  font-size: 20px;
  margin-bottom: 80px;
  line-height: 1.5;
}

.result_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.result_wrap div {
  display: flex;
  align-items: center;
}

.result_wrap div span {
  padding: 0 20px;
  font-size: 70px;
  font-family: GmarketSansBold;
}

.button_wrap {
  display: flex;
  justify-content: center;
}

.share_btn {
  background-color: #fff;
  margin-left: 20px;
}

/* modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  width: 600px;
  height: 600px;
}

.cheer {
  color: #5b2386;
  font-family: OTEnjoystoriesBA;
}

.cheer h1 {
  font-size: 80px;
}

.cheer h3 {
  font-size: 30px;
}

.btn {
  margin-top: 30px;
}

.btn p {
  color: gray;
  margin-top: 20px;
  font-size: 12px;
}
